/*
!.gitignore
!README.md
!/test/
/test/a.out
!color.c
!color.md
!memo.md
!siyou.md
!yougo.md
!API.md
!monoatume.cfg
!monoatume_cfg.h
!monoatume.h
!monoatume.c
!Task.c
!Task.h
!Arm.h
!Arm.c
!Log.h
!Log.c
!Move.h
!Move.c
!Menu.c
!Menu.h

